/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Fonts Files */
/* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik/rubik-v21-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik/rubik-v21-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/rubik-v21-latin-300.woff2") format("woff2"), url("../fonts/rubik/rubik-v21-latin-300.woff") format("woff"), url("../fonts/rubik/rubik-v21-latin-300.ttf") format("truetype"), url("../fonts/rubik/rubik-v21-latin-300.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-v21-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik/rubik-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/rubik-v21-latin-regular.woff2") format("woff2"), url("../fonts/rubik/rubik-v21-latin-regular.woff") format("woff"), url("../fonts/rubik/rubik-v21-latin-regular.ttf") format("truetype"), url("../fonts/rubik/rubik-v21-latin-regular.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik/rubik-v21-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik/rubik-v21-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/rubik-v21-latin-500.woff2") format("woff2"), url("../fonts/rubik/rubik-v21-latin-500.woff") format("woff"), url("../fonts/rubik/rubik-v21-latin-500.ttf") format("truetype"), url("../fonts/rubik/rubik-v21-latin-500.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-600 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik/rubik-v21-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik/rubik-v21-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/rubik-v21-latin-600.woff2") format("woff2"), url("../fonts/rubik/rubik-v21-latin-600.woff") format("woff"), url("../fonts/rubik/rubik-v21-latin-600.ttf") format("truetype"), url("../fonts/rubik/rubik-v21-latin-600.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-v21-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik/rubik-v21-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/rubik-v21-latin-700.woff2") format("woff2"), url("../fonts/rubik/rubik-v21-latin-700.woff") format("woff"), url("../fonts/rubik/rubik-v21-latin-700.ttf") format("truetype"), url("../fonts/rubik/rubik-v21-latin-700.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-800 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-v21-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik/rubik-v21-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/rubik-v21-latin-800.woff2") format("woff2"), url("../fonts/rubik/rubik-v21-latin-800.woff") format("woff"), url("../fonts/rubik/rubik-v21-latin-800.ttf") format("truetype"), url("../fonts/rubik/rubik-v21-latin-800.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-900 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik/rubik-v21-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik/rubik-v21-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/rubik-v21-latin-900.woff2") format("woff2"), url("../fonts/rubik/rubik-v21-latin-900.woff") format("woff"), url("../fonts/rubik/rubik-v21-latin-900.ttf") format("truetype"), url("../fonts/rubik/rubik-v21-latin-900.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* Base files. */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }

a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #fff;
  background: #3f4954;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

a {
  color: #FF6A67; }
  a:hover {
    color: #ff514e; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1; }
  hr.hr-hollow {
    border: none; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
  h1.w400, h2.w400, h3.w400, h4.w400, h5.w400, h6.w400 {
    font-weight: 400; }
  h1.w500, h2.w500, h3.w500, h4.w500, h5.w500, h6.w500 {
    font-weight: 500; }
  h1.w600, h2.w600, h3.w600, h4.w600, h5.w600, h6.w600 {
    font-weight: 600; }
  h1.w700, h2.w700, h3.w700, h4.w700, h5.w700, h6.w700 {
    font-weight: 700; }
  h1.w800, h2.w800, h3.w800, h4.w800, h5.w800, h6.w800 {
    font-weight: 800; }
  h1.w900, h2.w900, h3.w900, h4.w900, h5.w900, h6.w900 {
    font-weight: 900; }

h1 {
  font-size: 3.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 2.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 2.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 1.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 0.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3.0rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

p {
  margin-top: 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.w400 {
  font-weight: 400; }

.w500 {
  font-weight: 500; }

.w600 {
  font-weight: 600; }

.w700 {
  font-weight: 700; }

.w800 {
  font-weight: 800; }

.w900 {
  font-weight: 900; }

/* Modules */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66667%; }
  .two.columns {
    width: 13.33333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.66667%; }
  .five.columns {
    width: 39.33333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.66667%; }
  .eight.columns {
    width: 65.33333%; }
  .nine.columns {
    width: 74%; }
  .ten.columns {
    width: 82.66667%; }
  .eleven.columns {
    width: 91.33333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.66667%; }
  .two-thirds.column {
    width: 65.33333%; }
  .one-half.column {
    width: 48%; }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; } }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #5d6b7b;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #5d6b7b;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover {
  color: #3f4954;
  border-color: #919eac;
  outline: 0; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #3f4954;
  border-color: #919eac;
  outline: 0; }

.button:focus,
button:focus {
  color: #3f4954;
  border-color: #919eac;
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #3f4954;
  border-color: #919eac;
  outline: 0; }

.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #FF6A67;
  border-color: #FF6A67; }

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #fff;
  background-color: #FF6A67;
  border-color: #FF6A67; }

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #FF6A67;
  border-color: #FF6A67; }

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #FF6A67;
  border-color: #FF6A67; }

.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #FF6A67;
  border-color: #FF6A67; }

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #FF6A67;
  border-color: #FF6A67; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #FF6A67;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #FF6A67;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Modules */
@media (max-width: 550px) {
  .column, .columns {
    padding: 0 0 15px; }
  .three.columns {
    width: 48%; } }

.content {
  max-width: 900px;
  margin: 0 auto; }
  .content .headline {
    margin-top: 20px;
    color: #FF6A67;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.5); }
    @media (max-width: 550px) {
      .content .headline {
        color: #fff;
        background: #FF6A67;
        margin: 0;
        padding: 17px 0 27px; } }
  .content .header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    border-radius: 5px;
    position: relative; }
    @media (max-width: 550px) {
      .content .header {
        height: 300px;
        border-radius: 0;
        margin-top: -16px;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%); } }
    .content .header span {
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.5);
      font-weight: 600;
      font-size: 5rem;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media (max-width: 550px) {
        .content .header span {
          font-size: 4rem; } }
  .content .weather_infos {
    margin: 30px 20px; }
    @media (max-width: 550px) {
      .content .weather_infos .date_today {
        text-align: center;
        font-size: 20px; } }
    @media (max-width: 550px) {
      .content .weather_infos .weather_today {
        text-align: center; } }
    .content .weather_infos .weather_today span {
      display: block;
      font-size: 22px; }
      @media (max-width: 550px) {
        .content .weather_infos .weather_today span {
          float: none; } }
      .content .weather_infos .weather_today span img {
        filter: grayscale(1) brightness(3) contrast(3) saturate(0);
        width: 65px;
        border-radius: 100%;
        margin-right: 22px; }
        @media (max-width: 550px) {
          .content .weather_infos .weather_today span img {
            margin-right: 0; } }
      .content .weather_infos .weather_today span small {
        display: block;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 11px; }
    .content .weather_infos .weather_infos_main strong, .content .weather_infos .weather_forcast_main strong {
      display: block; }
    .content .weather_infos .weather_forcast_main .forcast_icon {
      filter: grayscale(1) brightness(3) contrast(3) saturate(0);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60px;
      height: 35px; }
    .content .weather_infos .tab_buttons .forcast_icon {
      filter: grayscale(1) brightness(3) contrast(3) saturate(0);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60px;
      height: 35px; }

.footer {
  padding-bottom: 20px; }

.tabbed figure {
  display: block;
  margin: 0;
  clear: both; }
  .tabbed figure > div {
    border: 3px solid #FF6A67;
    padding: 40px 20px;
    border-radius: 0 6px 6px; }

.tabbed > input, .tabbed figure > div {
  display: none; }

.tabbed .tab_buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  overflow-x: scroll; }
  .tabbed .tab_buttons label.button {
    height: auto;
    line-height: normal;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    border-radius: 4px 4px 0 0; }

nav label {
  float: left;
  padding: 15px 15px;
  background-color: #a74846;
  border-color: #a74846;
  border-bottom: 1px solid #3f4954;
  opacity: 0.7; }
  nav label:not(:first-child) {
    margin-left: 15px; }
  nav label:hover {
    background-color: #FF6A67;
    border-color: #FF6A67;
    opacity: 1; }
  nav label:active {
    background-color: #FF6A67;
    border-color: #FF6A67;
    opacity: 1; }

.tab0:checked ~ figure .tab0 {
  display: block; }

.tab0:checked ~ nav label.tab0 {
  position: relative;
  background-color: #FF6A67;
  border-color: #FF6A67;
  opacity: 1; }
  .tab0:checked ~ nav label.tab0:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px; }

.tab1:checked ~ figure .tab1 {
  display: block; }

.tab1:checked ~ nav label.tab1 {
  position: relative;
  background-color: #FF6A67;
  border-color: #FF6A67;
  opacity: 1; }
  .tab1:checked ~ nav label.tab1:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px; }

.tab2:checked ~ figure .tab2 {
  display: block; }

.tab2:checked ~ nav label.tab2 {
  position: relative;
  background-color: #FF6A67;
  border-color: #FF6A67;
  opacity: 1; }
  .tab2:checked ~ nav label.tab2:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px; }

.tab3:checked ~ figure .tab3 {
  display: block; }

.tab3:checked ~ nav label.tab3 {
  position: relative;
  background-color: #FF6A67;
  border-color: #FF6A67;
  opacity: 1; }
  .tab3:checked ~ nav label.tab3:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px; }

.tab4:checked ~ figure .tab4 {
  display: block; }

.tab4:checked ~ nav label.tab4 {
  position: relative;
  background-color: #FF6A67;
  border-color: #FF6A67;
  opacity: 1; }
  .tab4:checked ~ nav label.tab4:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px; }

.tab5:checked ~ figure .tab5 {
  display: block; }

.tab5:checked ~ nav label.tab5 {
  position: relative;
  background-color: #FF6A67;
  border-color: #FF6A67;
  opacity: 1; }
  .tab5:checked ~ nav label.tab5:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px; }

.tab6:checked ~ figure .tab6 {
  display: block; }

.tab6:checked ~ nav label.tab6 {
  position: relative;
  background-color: #FF6A67;
  border-color: #FF6A67;
  opacity: 1; }
  .tab6:checked ~ nav label.tab6:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px; }

.tab7:checked ~ figure .tab7 {
  display: block; }

.tab7:checked ~ nav label.tab7 {
  position: relative;
  background-color: #FF6A67;
  border-color: #FF6A67;
  opacity: 1; }
  .tab7:checked ~ nav label.tab7:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px; }

.map_headline {
  color: #fff;
  background-color: #FF6A67;
  display: inline-block;
  padding: 3px 8px 0;
  border-radius: 6px 6px 0 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase; }

#map {
  height: 500px;
  border-radius: 0 6px 6px 6px;
  border: 3px solid #FF6A67; }
  #map .leaflet-marker-icon {
    border: 3px solid #fff;
    border-radius: 100%; }
